---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<p>This is Home Page.</p>

<a href="#" class="inline-block uppercase rounded bg-blue-600 hover:bg-red-700 px-4 py-2 text-white text-sm">Button</a>
